@import url("https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
