#chat-columns {
  height: 100%;
}
.column.is-one-quarter{
  display: flex;
  flex-direction: column;
  //background-color: #edf1f3;
  background-color: #fff1f3;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.column.chat{
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
}

.empty-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.channels-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-size: 13px;
    font-weight: bold;
    color: gray;
}

.channels-header:hover {
    cursor: pointer;
    color: #dbdbdb; 
}

.dm-channel {
  display: flex;
  padding: 5px;
  border-top: 0.1px solid #c9ccd1;

  &:last-child {
      border-bottom: 0.1px solid #c9ccd1;
  }
  &:hover {
      background-color: white;
      border-right: 3px solid #db2444;
      cursor: pointer;
  }
}

.dm-channel .info {
  margin: 4px;
  width: 100%;
}

.dm-channel .profile-pic {
  margin: 4px;
}

.profile-pic img {
  border-radius: 50%;
}

.info .name-date {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.info .name-date .name {
  font-weight: bold;
}

.info .latest-message {
  font-size: 14px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:150px;
    display:inline-block;
}

.title-container {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 0.1px solid #c9ccd1;
}

.title-container .name, .title-container .profile-pic {
  margin: 5px;
}

#close {
    cursor: pointer;
}

.title-container div:last-child {
  margin-left: auto;
}

.message-container {
  padding: 5px;
  overflow: auto;
  height: 100%;
}

.message-container .msg.left{
  display: flex;
}

.message-container .msg.right {
  display: flex;
  flex-direction: row-reverse;
}

.message-container .msg.left .profile-pic, .message-container .msg.right .profile-pic{
  margin: 5px;
}

.message-container .msg.left .message-box, .message-container .msg.right .message-box {
  margin: 5px;
}

.msg.left .message-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px;
}

.msg.right .message-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2px;
}

.msg.left .message-box .message-content{
  padding: 1rem;
  margin: 4px;
  max-width: 25vw;
  background-color: #6a6c85;
  color: white;
  border-top-right-radius: var(--msg-border-radius);
  border-bottom-right-radius: var(--msg-border-radius);
  border-bottom-left-radius: var(--msg-border-radius);
}

.msg.right .message-box .message-content{
  padding: 1rem;
  margin: 4px;
  max-width: 25vw;
  background-color: #161c5f;
  color: white;
  border-top-left-radius: var(--msg-border-radius);
  border-bottom-right-radius: var(--msg-border-radius);
  border-bottom-left-radius: var(--msg-border-radius);
}

.msg.left .message-box .date, .msg.right .message-box .date{
  margin: 4px;
  font-size: 14px;
  color: #c9ccd1;  
}

.input-container:last-child {
  margin-top: auto;
}

#message-input {
    width: 100%;
}

.input-container .input {
  padding: 1rem;
}

.input-container span:hover {
  background-color: #6a6c85;
}

.info .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info .icons .notfi {
  background-color: #f04744;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.user-select-self {
    display: flex; 
    align-items: center;
    padding: 0.3rem;
}

.user-select-self .username {
    margin: 0px 0.5rem;
}

.user-select-self img {
    border-radius: 50%;
    vertical-align: middle;
}

.user-avatar-chat {
    text-align: center;
}

.channels-footer {
    margin-top: auto;
}

.user-list-card {
    display: flex;
    flex-direction: column;
    height: 395px;
    width: 440px;
    background-color: white;
    border-radius: 5px;
}

.card-header {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    padding: 1.5rem;
}

.input-wrapper {
    margin-top: 1rem;
}

.card-footer {
    padding: 1rem;

    &:last-child {
        margin-top: auto;
    }
}

.card-main {
    padding: 1rem;
    overflow: auto;
}

.card-main .user-select {
    display: flex; 
    align-items: center;
    padding: 0.3rem;

    &:hover {
        background-color: #dcddde;
        border-radius: 3px;
    }
}

.user-select .username {
    margin: 0px 1rem;
}

.user-select input:last-child {
    margin-left: auto;
}

.user-select img {
    border-radius: 50%;
    vertical-align: middle;
}

.user-avatar {
    text-align: center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.card-main::-webkit-scrollbar-corner {
    background-color: transparent;
}
.card-main::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.card-main::-webkit-scrollbar-track {
    visibility: hidden;
}
.card-main::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: #db2444;
    min-height: 40px;
}
.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
